{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open="{:url('add')}" class='layui-btn layui-btn-small'>投诉详情</button>
    <!--<button data-update data-field='delete' data-action='{:url("$classuri/del")}'-->
    <!--class='layui-btn layui-btn-small layui-btn-danger'>删除规则-->
    <!--</button>-->
</div>
{/block}

{block name='content'}
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get"  style="float: left" >

    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" name="word" id="word" placeholder="请输入相应的投诉内容" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <input type="text" name="person" id="person" placeholder="发布人" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white ico-search"><i class="fa fa-search"></i>搜索</button>
            </div>
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th class="text-center">编号</th>
        <th class="text-center">任务内容</th>
        <th class="text-center">投诉内容</th>
        <th class="text-center">状态</th>
        <th class="text-center">投诉人</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
{foreach  $Complain as $v}
    <tr>
        <td class="text-center">
            {$v.complainId}
        </td>
        <td class="text-center" style="width: 550px;align:left;">
            {$v.word}
        </td>
        <td class="text-center">
            {$v.complainWord}
        </td>
        <td class="text-center">
          {switch $v.result}
            {case value="0"}
            <p style="color: deepskyblue"> 未处理</p>
            {/case}
            {case value="1"}
            <p style="color: green"> 已放行</p>
            {/case}
            {case value="2"}
            <p style="color: red">不通过</p>
            {/case}
            {/switch}
        </td>
        <td class="text-center">
            {$v.name}
        </td>
        <td class="text-center">
            <a data-load="{:url('fangxing',['id'=>$v['complainId']])}?a=1" href="javascript:void(0)"  data-confirm="确定要放行吗？">放行</a>
            <span class="text-explode">|</span>
            <a data-load="{:url('pauses',['id'=>$v['complainId']])}?a=1" href="javascript:void(0)"  data-confirm="确定要禁用吗？">不通过</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>

{if isset($page)}<p>{$page}</p>{/if}
{/block}

{block name="script"}
<script>

</script>
{/block}
