{extend name='extra@admin/content'}

{block name="button"}

{/block}

{block name="content"}
<table class="table table-hover">
    <thead>
    <tr>
        <th class='list-table-check-td'>
            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
        </th>
        <th class="text-center">编号</th>
        <th class="text-center">商品名称</th>
        <th class="text-center">价格</th>
        <th class="text-center">点赞数</th>
        <th class="text-center">产品商标图</th>
        <th class="text-center">产品banner1</th>
        <th class="text-center">产品banner2</th>
        <th class="text-center">产品banner3</th>
        <th class="text-center" style="width:60px">操作</th>
    </tr>
    </thead>
    <tbody>
{foreach $db as $v}
<tr>
    <td class="list-table-check-td">
        <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
    </td>
    <td class="text-center">
        {$v.goodId}
    </td>
    <td class="text-center">
        {$v.goodName}
    </td>
    <td class="text-center">
        {$v.price}
    </td>
    <td class="text-center">
        {$v.like_number}
    </td>
    <td class="text-center"  >
        {empty name="$v.image0"}
        <img src="__STATIC__/image/none.png" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {else /}
        <img src="__STATIC__/{$v.image0}" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {/empty}
    </td>
    <td class="text-center"  >
        {empty name="$v.image1"}
        <img src="__STATIC__/image/none.png" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {else /}
        <img src="__STATIC__/{$v.image1}" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {/empty}
    </td>
    <td class="text-center"  >
        {empty name="$v.image2"}
        <img src="__STATIC__/image/none.png" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {else /}
        <img src="__STATIC__/{$v.image2}" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {/empty}
    </td>
    <td class="text-center"  >
        {empty name="$v.image3"}
        <img src="__STATIC__/image/none.png" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {else /}
        <img src="__STATIC__/{$v.image3}" data-tips-image alt="" style="width: 70px;height: 50px"/>
        {/empty}
    </td>
    <td class="text-center" style="width: 180px">
        <a  data-modal="{:url('edit',['id'=>$v['goodId']])}" href="javascript:void(0)" >详情</a>
        <span class="text-explode">|</span>
        <a  data-action="{:url('del')}" href="javascript:void(0)" data-update="{$v['goodId']}">删除</a>
        <span class="text-explode">|</span>
        <a  data-action="{:url('revice')}" href="javascript:void(0)" data-update="{$v['goodId']}">还原</a>
    </td>
</tr>
{/foreach}
    </tbody>
</table>
{if isset($page)}<p>{$page}</p>{/if}
{/block}

{block name="script"}
{if auth("$classuri/tagset")}
<script>

</script>
{/if}
{/block}
