{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open="{:url('add')}" class='layui-btn layui-btn-small'>投诉详情</button>
    <!--<button data-update data-field='delete' data-action='{:url("$classuri/del")}'-->
    <!--class='layui-btn layui-btn-small layui-btn-danger'>删除规则-->
    <!--</button>-->
</div>
{/block}

{block name='content'}
<!-- 表单搜索 开始 -->

<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get"  style="float: left" >

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="begindate" id="begindate" readonly="readonly" placeholder="开始时间" class="input-sm form-control" >
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="enddate" id="enddate" readonly="readonly" placeholder="结束时间" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <input type="text" name="address" id="address" placeholder="地点" class="input-sm form-control">
            </div>
        </div>
        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white ico-search"><i class="fa fa-search"></i> {:lang('搜索')}</button>
            </div>
        </div>


    </div>
</form>

<div class="nowrap pull-right" style="float: left" >
    <button   onclick='delthemeall()' class='layui-btn layui-btn-small'>批量删除</button>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th class='list-table-check-td'>
            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
        </th>
        <th class="text-center">编号</th>
        <th class="text-center">主题标题</th>
        <th class="text-center">地点</th>
        <th class="text-center">开始时间</th>
        <th class="text-center">结束时间</th>
        <th class="text-center">主题图片缩略图</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $theme as $key=>$vo}
    <tr>
        <td class='list-table-sort-td'>
            <input name="id" value="{$vo.themeId}" type="checkbox" class="list-sort-input"/>
        </td >
        <td class="text-center">{$vo.themeId}</td>
        <td class="text-center">{$vo.title}</td>
        <td class="text-center">{$vo.address}</td>
        <td class="text-center">{$vo.begintime}</td>
        <td class="text-center">{$vo.endtime}</td>
        <td class="text-center">
            {empty name="$vo.imageurl"}
            <img src="__STATIC__/image/none.png" data-tips-image alt="" style="width: 70px;height: 50px"/>
            {else /}
            <img  data-tips-image style="width: 70px;height: 50px" src="__STATIC__/{$vo.imageurl}" alt="社团图片">
            {/empty}

        </td>
        <td class="text-center" style="width: 120px" nowrap>
            <a  data-modal="{:url('edit',['id'=>$vo['themeId']])}" href="javascript:void(0)" >修改</a>
            <span class="text-explode">|</span>
            <a  data-action="{:url('del')}" href="javascript:void(0)" data-update="{$vo['themeId']}">删除</a>
        </td>

    </tr>
    {/foreach}
    </tbody>
</table>
{if isset($page)}<p>{$page}</p>{/if}
{/block}

{block name="script"}
<script>

    laydate.render({
        elem: '#begindate'
        ,value: '2019-01-10'
        ,isInitValue: false //是否允许填充初始值，默认为 true
    });

    laydate.render({
        elem: '#enddate'
        ,value: '2019-01-10'
        ,isInitValue: false //是否允许填充初始值，默认为 true
    });

   function delthemeall(){
       var theme_id =$("input:checkbox[name='id']:checked").map(function(index,elem) {
           return $(elem).val();
       }).get().join(',');
       if(theme_id==""){
           layer.alert('您尚未勾选信息', {icon: 2});
       }else {
           layer.confirm('是否确定删除？', {
               btn: ['确定', '取消'],
           }, function (index) {
               $.ajax({
                   async: false,
                   type: "post",
                   data: {"theme_id": theme_id},
                   url: "{:url('delthemeall')}",
                   datatype: 'json',
                   success: function (res) {
                       layer.close(index);
                       if (res.error_code == 1) {
                           layer.alert('删除主题信息成功', {icon: 1});
                           location.reload();
                       } else {
                           layer.alert('删除主题信息成功', {icon: 2});
                       }
                   }
               })
           });
       }
   }
</script>
{/block}
