{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open="{:url('add')}" class='layui-btn layui-btn-small'>投诉详情</button>
    <!--<button data-update data-field='delete' data-action='{:url("$classuri/del")}'-->
    <!--class='layui-btn layui-btn-small layui-btn-danger'>删除规则-->
    <!--</button>-->
</div>
{/block}

{block name='content'}

<table class="table table-hover">
    <thead>
    <tr>
        <th class='list-table-check-td'>
            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
        </th>
        <th class="text-center">编号</th>
        <th class="text-center">所属类别</th>
        <th class="text-center">banner图片缩略图</th>
        <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
    {foreach $help as $key=>$vo}
    <tr>
        <td class='list-table-sort-td'>
            <input name="{$vo.id}" type="checkbox" class="list-sort-input"/>
        </td >
        <td class="text-center">{$vo.id}</td>
        <td class="text-center">{$vo.name}</td>
        <td class="text-center"><img data-tips-image style="width: 70px;height: 50px" src="__STATIC__/{$vo.img_url}" /> </td>
        <td class="text-center" style="width: 60px">
            <a href="javascript:void(0)" data-modal="{:url('edit',['id'=>$vo['id']])}">修改</a>

        </td>

    </tr>
    {/foreach}
    </tbody>
</table>
{/block}

{block name="script"}
<script>

</script>
{/block}
