{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-open="{:url('add')}" class='layui-btn layui-btn-small'>投诉详情</button>
    <!--<button data-update data-field='delete' data-action='{:url("$classuri/del")}'-->
    <!--class='layui-btn layui-btn-small layui-btn-danger'>删除规则-->
    <!--</button>-->
</div>
{/block}

{block name='content'}

<div class="nowrap pull-right" style="float: left" >
    <button onclick='delquestionall()' class='layui-btn layui-btn-small'>批量删除</button>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th class='list-table-check-td'>
            <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
        </th>
        <th class="text-center">编号</th>
        <th class="text-center">问题</th>
        <th class="text-center">所需积分</th>
        <th class="text-center">发布人</th>
        <th class="text-center" style="width: 100px">操作</th>

    </tr>
    </thead>
    <tbody>
    {foreach $question as $v}
    <tr>
        <td  class='list-table-sort-td'>
            <input data-none-auto="" name="id" value="{$v.prizegivingId}" data-check-target='.list-check-box' type='checkbox'/>
        </td>
        <td class="text-center">
            {$v.prizegivingId}
        </td>
        <td class="text-center">
            {$v.question}
        </td>
        <td class="text-center">
            {$v.intergrationRequire}
        </td>
        <td class="text-center">
            {$v.name}
        </td>
        <td class="text-center">
            <a data-action="{:url('restore')}"  href="javascript:void(0)" data-update="{$v['prizegivingId']}">还原</a>
            <span class="text-explode">|</span>
            <a data-action="{:url('del')}" href="javascript:void(0)"  data-update="{$v['prizegivingId']}">删除</a>
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
{if isset($page)}<p>{$page}</p>{/if}
{/block}

{block name="script"}
<script>
    function delquestionall(){
        var theme_id =$("input:checkbox[name='id']:checked").map(function(index,elem) {
            return $(elem).val();
        }).get().join(',');
        if(theme_id==""){
            layer.alert('您尚未勾选信息', {icon: 2});
        }else {
            layer.confirm('是否确定删除？', {
                btn: ['确定', '取消'],
            }, function (index) {
                $.ajax({
                    async: false,
                    type: "post",
                    data: {"theme_id": theme_id},
                    url: "{:url('delquestionall')}",
                    datatype: 'json',
                    success: function (res) {
                        layer.close(index);
                        if (res.error_code == 1) {
                            layer.alert(res.msg, {icon: 1});
                            location.reload();
                        } else {
                            layer.alert(res.msg, {icon: 2});
                        }
                    }
                })
            });
        }
    }
</script>
{/block}
