<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="{:url('wechat/Menu/addg')}"  method="post" enctype="multipart/form-data" >

    <div class="layui-form-item" hidden>
        <div class="layui-input-block">
            <input type="hidden"  name="themeId"  class="layui-input" value='{$db.corporationId}' >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主题标题</label>
        <div class="layui-input-block">
            <input name="title" value='{$db.title}' required="required" pattern="^.{2,}$"
                   title="姓名不少于两位" placeholder="请输入标题信息" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <div style="width: 55rem;border:solid;border-width: 1px;border-color: gainsboro;word-wrap: break-word;word-break: break-all;overflow: hidden; ">
            {$db.word}
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">开始时间</label>
        <div class="layui-input-block">
            <input type="text" name="begintime" value='{$db.begintime}'  placeholder="请输入开始时间" class="layui-input" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">结束时间</label>
        <div class="layui-input-block">
            <input type="text" name="endtime" value='{$db.endtime}' title="请输入密码" placeholder="请输入结束时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">图片</label>
        <div class="layui-input-block" >
            <img  data-tips-image style="width: 70px;height: 50px" src="__STATIC__/{$db.imageUrls}" alt="社团图片">
        </div>

    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要退出吗？" data-close>退出</button>
    </div>
</form>
<script>
$(function () {
    $(".img").change(function(){
        $(".showimg").attr("src",URL.createObjectURL($(this)[0].files[0]));
    });
});
</script>
<style>
    .showimg{
        width: 70px;
        height: 50px;
        margin-left: 15px;
    }
    label{
        position: relative;
    }

    .img{
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    #btn{
        padding: 5px 10px;
        background: #00b0f0;
        color: #FFF;
        border: none;
        border-radius: 5px;
    }

    img[src='']{
        visibility: hidden;
    }
</style>